.task {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #2e2e2f;
    background-color: #2d3644;
    padding: 0 0em 1em 1em;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    margin-left: 20px;
    border: 3px solid #3d4852;
    max-width: 500px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 390px;
    padding-right: 0;
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
        width: 80%; /* Full width on mobile */
    }
}

.upper {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 15px;
    margin: 0;
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
    }
}

.tag {
    display: inline-block;
    border-radius: 100px;
    border: 1px solid rgba(45, 59, 59, 0.8);
    padding: 4px 16px;
    margin: 2px 0px 2px 0;
    font-size: 20px;
    color: #ffffff;
    background-color: #375272;
    font-weight: 400 !important;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;

    &:hover {
        background-color: #9ba8b8;
        color: #fff;
    }

    &:active {
        transform: scale(0.95);
    }
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
    }
}

.task a {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    margin: 0;
    font-weight: 800;
    @media only screen and (max-width: 600px) {
        font-weight: 600;
        font-size: 27px;
    }
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5%;
    gap: 5%;
    width: auto;
}

.upper h4 {
    display: flex;
    align-items: center;
    font-weight: 100;
    color: #ffffff;
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
    }
}

.task p {
    font-size: 15px;
    margin: 1.2rem 0;
    color: rgb(180, 199, 219);
    overflow: auto;
    max-height: 100px;

    @media only screen and (max-width: 600px) {
        margin-right: 10px;
    }
}
time {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    width: 140px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
    }
}
.user-text {
    font-size: 22px !important;
    @media only screen and (max-width: 600px) {
        font-weight: 600;
        font-size: 15px;
    }
}
.upper-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
    }
}
.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #960000;
    transition:
        color 0.3s ease,
        transform 0.3s ease,
        border 0.9s;
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0;
    @media only screen and (max-width: 600px) {
        /* Mobile styles */
        font-size: 20px; /* Adjust font size on mobile */
    }
}

.close-button:hover {
    color: #ff0000; /* Change color on hover */
}

.close-button:active {
    transform: scale(0.9); /* Add a small scale effect when the button is clicked */
    border: none;
}
.button-cross {
    display: flex;
    justify-content: flex-end;
}
.close-button:focus {
    outline: none;
    box-shadow: none;
}